#timedataBar{
    display: flex;

}
 
#data{
    margin-right: 10px;
}

#dayOfLockdown{
    margin-left: 10px;
}

#date::before{
    content: "Date: ";
}

#dayOfLockdown::before{
    content: "Day ";
    
}

#news{
    visibility: hidden;
}

.inlineBox{
    display: flex;
}
#resourses{
    border: 5px;
    width: 15em;
    border-style: double;
    border-color: black;
}
#money::before{
    content: "Money: $";
}
#learnPoints::before{
    content: "Learning points:";
}

#skills::before{
    content: "Skills: ";
}

#bar{
    display: inline;
    width: 100%;
    height: 40%;
}

.activity{
    height: 100%;
  
    position: absolute;
} 